.app-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 32px;
    padding-block: 16px;

    .nav-links{
        display: flex;
        gap: 10px;
    }
}