// Colors
$clr1: #5a6d50;
$clr2: #733c18;
$clr3: #b38e6c;
$clr4: #a2ad84;
$clr5: #f2f2db;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;