.bill-receipte {

    .bill-head {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    .bill-body {
        margin-bottom: 20px;
    }
}